<%- include("partials/navUser") %>
    <h1>Pace Calculator</h1>
    <%- include("partials/errorMsg") %>
        <div id="popups">
            <div id="info" class="popup hidden">
                <div id="info-content" class="popup-content">
                    <div id="close-info" class="close-popup">&times;</div>
                    <p>
                        <strong>What is a PR?</strong>
                        <br>
                        A PR is a personal record. It is the fastest time you have run for a
                        specific distance. For example, if you have run a 5k in 20 minutes
                        and 30 seconds, that is your 5k PR.
                    </p>
                </div>
            </div>
        </div>
        <div id="prContainer" class="popup hidden">
            <div class="popup-content">
                <div id="close-form" class="close-popup">&times;</div>
                <form id="pRForm" action="/paceCalc" method="post">
                    <div>Input your PR and get tailored paces for your runs</div>
                    <label>
                        Distance:
                        <br />
                        <select id="distance" name="distance" value="Select a distance">
                            <option value="1500m">1500m</option>
                            <option value="1 mile">1 mile</option>
                            <option value="3k">3k</option>
                            <option value="2 mile">2 mile</option>
                            <option value="5k">5k</option>
                            <option value="10k">10k</option>
                            <option value="Half-Marathon">Half-Marathon</option>
                            <option value="Marathon">Marathon</option>
                        </select>
                    </label>
                    <br />
                    <label id="PR">
                        PR Time:
                        <br />
                        <input type="number" min="0" max="59" name="prH" placeholder="HH" value="<%= locals.prH %>">
                        </input>
                        <input type="number" min="0" max="59" name="prM" placeholder="MM" value="<%= locals.prM %>">
                        </input>
                        <input type="number" min="0" max="59" name="prS" placeholder="SS" value="<%= locals.prS %>">
                        </input>
                    </label>
                    <br />
                    <input id="submitForm" type="submit" value="See your running paces!"></input>
                </form>
            </div>
        </div>
        </div>
        <div id="pace-wrapper">
            <button id="pRButton">Recalculate your paces</button>
            <div id="results">
                <div id="vO2" className="vO2">
                    VO2: <%= locals.vO2 || "??" %>
                </div>
                <table id="paces-table">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Mile Pace</th>
                            <th>Kilometer Pace</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Easy
                                <button id="help-easy">?</button>
                            </td>
                            <td>
                                <%= locals.easy || "??" %>
                            </td>
                            <td>
                                <%- mileToKilometer(locals.easy) %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Marathon
                                <button id="help-marathon">?</button>
                            </td>
                            <td>
                                <%= locals.marathon || "??" %>
                            </td>
                            <td>
                                <%- mileToKilometer(locals.marathon) %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Threshold
                                <button id="help-threshold">?</button>
                            </td>
                            <td>
                                <%= locals.threshold || "??" %>
                            </td>
                            <td>
                                <%- mileToKilometer(locals.threshold) %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Interval
                                <button id="help-interval">?</button>
                            </td>
                            <td>
                                <%= locals.interval || "??" %>
                            </td>
                            <td>
                                <%- mileToKilometer(locals.interval) %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Repeat
                                <button id="help-repeat">?</button>
                            </td>
                            <td>
                                <%= locals.repeat || "??" %>
                            </td>
                            <td>
                                <%- mileToKilometer(locals.repeat) %>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table id="prs-table">
                    <thead>
                        <tr>
                            <th>Distance</th>
                            <th>Estimated PR</th>
                            <th>Mile Pace</th>
                            <th>Kilometer Pace</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1500m</td>
                            <td>
                                <%= locals.pr1500 || "??" %>
                            </td>
                            <td>
                                <%- timeToMile(0.93, locals.pr1500) %>
                            </td>
                            <td>
                                <%- mileToKilometer(timeToMile(0.93, locals.pr1500)) %>
                            </td>
                        </tr>
                        <tr>
                            <td>1 mile</td>
                            <td>
                                <%= locals.pr1 || "??" %>
                            </td>
                            <td>
                                <%= locals.pr1 || "??" %>
                            <td>
                                <%- mileToKilometer(locals.pr1) %>
                            </td>
                        </tr>
                        <tr>
                            <td>3k</td>
                            <td>
                                <%= locals.pr3k || "??" %>
                            </td>
                            <td>
                                <%- timeToMile(1.86, locals.pr3k) %>
                            <td>
                                <%- mileToKilometer(timeToMile(1.86, locals.pr3k)) %>
                            </td>
                        </tr>
                        <tr>
                            <td>2 mile</td>
                            <td>
                                <%= locals.pr2 || "??" %>
                            </td>
                            <td>
                                <%- timeToMile(2, locals.pr2) %>
                            <td>
                                <%- mileToKilometer(timeToMile(2, locals.pr2)) %>
                            </td>
                        </tr>
                        <tr>
                            <td>5k</td>
                            <td>
                                <%= locals.pr5k || "??" %>
                            </td>
                            <td>
                                <%- timeToMile(3.12, locals.pr5k) %>
                            <td>
                                <%- mileToKilometer(timeToMile(3.12, locals.pr5k)) %>
                            </td>
                        </tr>
                        <tr>
                            <td>10k</td>
                            <td>
                                <%= locals.pr10k || "??" %>
                            </td>
                            <td>
                                <%- timeToMile(6.24, locals.pr10k) %>
                            <td>
                                <%- mileToKilometer(timeToMile(6.24, locals.pr10k)) %>
                            </td>
                        </tr>
                        <tr>
                            <td>Half-Marathon</td>
                            <td>
                                <%= locals.prHalf || "??" %>
                            </td>
                            <td>
                                <%- timeToMile(13.1, locals.prHalf) %>
                            <td>
                                <%- mileToKilometer(timeToMile(13.1, locals.prHalf)) %>
                            </td>
                        </tr>
                        <tr>
                            <td>Marathon</td>
                            <td>
                                <%= locals.prMarathon || "??" %>
                            </td>
                            <td>
                                <%- timeToMile(26.2, locals.prMarathon) %>
                            <td>
                                <%- mileToKilometer(timeToMile(26.2, locals.prMarathon)) %>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <h2>Tips for improving your pace and achieving a personal best:</h2>
        <div id="tips-container">
            <div id="hrHelp" class="help-button">
                Heart Rate: <i class="fa-solid fa-play"></i>
            </div>
            <div id="workoutHelp" class="help-button">
                Workouts:
                <i class="fa-solid fa-play"></i>
            </div>
            <div id="wucdHelp" class="help-button">
                Warming Up:
                <i class="fa-solid fa-play"></i>
            </div>
        </div>
        <div id="hr-tip" class="popup hidden">
            <div class="popup-content">
                <div id="close-hr" class="close-popup">&times;</div>
                <h4>Heart Rate:</h4>
                <p>
                    Although they are not necessary, heart rate monitors are a great way
                    to gain extra insight on how your body is feeling during a run. Heart
                    rate is also a good indicator of how hard a workout was for you and
                    can help you determine whether your effort was too difficult, too
                    easy, or just right. Here are some guidelines as to what to look for
                    in terms of your heart rate during a run.
                </p>
                <ul>
                    <li>Easy Runs: 65% - 79% Max HR</li>
                    <li>Marathon / Medium Runs: 80% - 90% Max HR</li>
                    <li>Threshold Runs: 88% - 92% Max HR</li>
                    <li>Interval Runs: 98% - 100% Max HR</li>
                    <li>
                        Repeats Runs: 100% (Generally, you are pushing your body to its
                        upper limits)
                    </li>
                </ul>
                <p>
                    A general rule of thumb for your Max HR is to start with 220 bpm and
                    subtract your age. For example someone who is 20 years old would have
                    a Max HR of 200 bpm. <strong>However</strong>, this can be sometimes unreliable so the best
                    way to go is to know your max HR which you can find out by running an all
                    out 2 mile. Here is the running breakdown for someone with a 220 bpm Max HR:
                </p>
                <ul>
                    <li>Easy Runs: 130 - 158 BPM</li>
                    <li>Marathon / Medium Runs: 160 - 180 BPM</li>
                    <li>Threshold Runs: 176 - 184 BPM</li>
                    <li>Interval Runs: 196 - 200 BPM</li>
                    <li>Repeats Runs: 200 BPM</li>
                </ul>
                <p>
                    Note: Hitting your max BPM for workouts is not necessary at all. It is
                    just a separate indicator of how difficult the run was.
                </p>
            </div>
        </div>
        <div id="workout-tip" class="popup hidden">
            <div class="popup-content">
                <div id="close-workout" class="close-popup">&times;</div>
                <h4>Workouts:</h4>
                <p>
                    Something about workouts
                </p>
            </div>
        </div>
        <div id="wucd-tip" class="popup hidden">
            <div class="popup-content">
                <div id="close-wucd" class="close-popup">&times;</div>
                <h4>Warm Up / Cool Down:</h4>
                <p>
                    Something about warm ups and cool downs
                </p>
            </div>
        </div>
        <script>
            let value = "<%= locals.distance %>";
            if (value)
                document.getElementById("distance").value = value;
            else
                document.getElementById("distance").value = "1500m";

            document.getElementById("close-info").addEventListener("click", () => {
                document.getElementById("info").classList.add("hidden");
            });

            document.getElementById("help-easy").addEventListener("click", () => {
                document.getElementById("info").classList.remove("hidden");
                document.getElementById("info-content").children[1].innerHTML = "<h2>Easy Pace</h2> <br /> Easy pace should be as the name suggests. " +
                    "This should not get you tired and you should be able to comfortably hold a conversation while you run. This pace here is meant to be the limit " +
                    "for what pace you should be running so if you need to go slower, it is heavily encouraged so as to give your body the rest it deserves. " +
                    "This is also the pace where you run the majority of your mileage.";
            });

            document.getElementById("help-marathon").addEventListener("click", () => {
                document.getElementById("info").classList.remove("hidden");
                document.getElementById("info-content").children[1].innerHTML = "<h2>Marathon Pace</h2> <br /> Marathon pace is a good to know for marathon based workouts" +
                    "and is often incorporated into long run workouts. This pace should feel moderate and is great for building endurance for those who want to race longer distances.";
            });

            document.getElementById("help-threshold").addEventListener("click", () => {
                document.getElementById("info").classList.remove("hidden");
                document.getElementById("info-content").children[1].innerHTML = "<h2>Threshold Pace</h2> <br /> Threshold pace is described as the pace you are able to sustain " +
                    "for 30-60 minutes depending on how fit you are. This pace is good for workouts that help your body practice using your energy efficiently. " +
                    "You should not be on the floor after running workouts at this pace, but it does get you a pretty tired.";
            });

            document.getElementById("help-interval").addEventListener("click", () => {
                document.getElementById("info").classList.remove("hidden");
                document.getElementById("info-content").children[1].innerHTML = "<h2>Interval Pace</h2> <br /> Interval pace is meant for short recovery and pretty fast reps " +
                    "which can help with building speed. Workouts that include this pace do not typically go over a mile per rep since the intensity is pretty strong. A good estimate " +
                    "is that you can hold this pace for around 10-15 minutes at an all out effort.";
            });

            document.getElementById("help-repeat").addEventListener("click", () => {
                document.getElementById("info").classList.remove("hidden");
                document.getElementById("info-content").children[1].innerHTML = "<h2>Repeat Pace</h2> <br /> Repeat pace can be almost considered an all out effort pace where you " +
                    "are running at a very fast pace with full recovery (recovering equal to the amount of time the rep took) in between each rep. These are great for race pace practice for " +
                    "short distances and typically have reps less than or up to 2-3 minutes.";
            });

            window.addEventListener("beforeunload", (e) => {
                let vO2 = `<%= locals.vO2 %>`
                navigator.sendBeacon(
                    "/save-vDOT",
                    new Blob(
                        [
                            JSON.stringify({
                                vO2: vO2
                            }),
                        ],
                        { type: "application/json" }
                    )
                );
            });

            let hoverOverHead = false;
            let hoverOverContents = false;
            document.getElementById("profile-head").addEventListener("mouseenter", () => {
                hoverOverHead = true;
                document.getElementById("profile-contents").classList.remove("behindNav");
                document.getElementById("profile-contents").classList.remove("hidden");
                document.getElementById("dropdownArrow").classList.add("rotate");
            });
            document.getElementById("profile-contents").addEventListener("mouseenter", () => {
                hoverOverContents = true;
            });
            document.getElementById("profile-contents").addEventListener("mouseleave", () => {
                hoverOverContents = false;
                setTimeout(() => {
                    if (!hoverOverContents && !hoverOverHead) {
                        document.getElementById("profile-contents").classList.add("behindNav");
                        document.getElementById("dropdownArrow").classList.remove("rotate");
                    }
                }, 100);
            });
            document.getElementById("profile-head").addEventListener("mouseleave", () => {
                hoverOverHead = false;
                setTimeout(() => {
                    if (!hoverOverContents && !hoverOverHead) {
                        document.getElementById("profile-contents").classList.add("behindNav");
                        document.getElementById("dropdownArrow").classList.remove("rotate");
                    }
                }, 100);
            });
            document.getElementById("pRButton").addEventListener("click", () => {
                document.getElementById("prContainer").classList.remove("hidden");
            });
            document.getElementById("submitForm").addEventListener("click", () => {
                document.getElementById("prContainer").classList.add("hidden");
            });
            document.getElementById("close-form").addEventListener("click", () => {
                document.getElementById("prContainer").classList.add("hidden");
            });
            document.getElementById("hrHelp").addEventListener("click", () => {
                document.getElementById("hr-tip").classList.remove("hidden");
            })
            document.getElementById("close-hr").addEventListener("click", () => {
                document.getElementById("hr-tip").classList.add("hidden");
            });
            document.getElementById("workoutHelp").addEventListener("click", () => {
                document.getElementById("workout-tip").classList.remove("hidden");
            })
            document.getElementById("close-workout").addEventListener("click", () => {
                document.getElementById("workout-tip").classList.add("hidden");
            });
            document.getElementById("wucdHelp").addEventListener("click", () => {
                document.getElementById("wucd-tip").classList.remove("hidden");
            })
            document.getElementById("close-wucd").addEventListener("click", () => {
                document.getElementById("wucd-tip").classList.add("hidden");
            });
        </script>