<div id="navContainer">
    <nav>
        <div id="logo">
            <a href="/">
                <img src="./imgs/PacePartnerLogo.png" alt="Logo">
            </a>
        </div>
        <div id="nav-links">
            <a href="/paceCalc" id="link">Pace Calculator</a>
            <a href="/calendar" id="link">Calendar</a>
        </div>
        <form id="logout" action="/logout?_method=DELETE" method="POST">
            <button id="link" style="border: none; font: unset;" type="submit">Logout</button>
        </form>
    </nav>
</div>
<h1>Pace Calculator</h1>
<p style="padding-inline: 2%">Hello <%= locals.user %>!</p>
<% if(JSON.stringify(messages) !=="{}" && messages !=="" ) { %>
    <div id="alert">
        <%= locals.messages %>
            <button type="button" id="close">
                <span>&times;</span>
            </button>
            <script>
                document.getElementById('close').addEventListener("click", () =>
                    document.getElementById('alert').remove()
                );
            </script>
    </div>
    <% } %>
        <div id="calc-wrapper">
            <form id="pRForm" action="/paceCalc" method="post">
                <div>Input your PR and get tailored paces for your runs</div>
                <label>
                    Distance:
                    <br />
                    <select id="distance" name="distance" value="Select a distance">
                        <option value="1500m">1500m</option>
                        <option value="1 mile">1 mile</option>
                        <option value="3k">3k</option>
                        <option value="2 mile">2 mile</option>
                        <option value="5k">5k</option>
                        <option value="10k">10k</option>
                        <option value="Half-Marathon">Half-Marathon</option>
                        <option value="Marathon">Marathon</option>
                    </select>
                </label>
                <br />
                <label id="PR">
                    PR Time:
                    <br />
                    <input type="number" min="0" max="59" name="prH" placeholder="HH" value="<%= locals.prH %>">
                    </input>
                    <input type="number" min="0" max="59" name="prM" placeholder="MM" value="<%= locals.prM %>">
                    </input>
                    <input type="number" min="0" max="59" name="prS" placeholder="SS" value="<%= locals.prS %>">
                    </input>
                </label>
                <br />
                <input type="submit" value="See your running paces!"></input>
            </form>
            <div id="results">
                <div id="vO2" className="vO2">
                    VO2: <%= locals.vO2 %>
                </div>
                <table id="paces-table">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Mile Pace</th>
                            <th>Kilometer Pace</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Easy</td>
                            <td>
                                <%= locals.easy || "??" %>
                            </td>
                            <td>
                                <%- mileToKilometer(locals.easy) %>
                            </td>
                        </tr>
                        <tr>
                            <td>Marathon</td>
                            <td>
                                <%= locals.marathon || "??" %>
                            </td>
                            <td>
                                <%- mileToKilometer(locals.marathon) %>
                            </td>
                        </tr>
                        <tr>
                            <td>Threshold</td>
                            <td>
                                <%= locals.threshold || "??" %>
                            </td>
                            <td>
                                <%- mileToKilometer(locals.threshold) %>
                            </td>
                        </tr>
                        <tr>
                            <td>Interval</td>
                            <td>
                                <%= locals.interval || "??" %>
                            </td>
                            <td>
                                <%- mileToKilometer(locals.interval) %>
                            </td>
                        </tr>
                        <tr>
                            <td>Repeat</td>
                            <td>
                                <%= locals.repeat || "??" %>
                            </td>
                            <td>
                                <%- mileToKilometer(locals.repeat) %>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table id="prs-table">
                    <thead>
                        <tr>
                            <th>Distance</th>
                            <th>PR</th>
                            <th>Mile Pace</th>
                            <th>Kilometer Pace</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1500m</td>
                            <td>
                                <%= locals.pr1500 || "??" %>
                            </td>
                            <td>
                                <%- timeToMile(0.93, locals.pr1500) %>
                            </td>
                            <td>
                                <%- mileToKilometer(timeToMile(0.93, locals.pr1500)) %>
                            </td>
                        </tr>
                        <tr>
                            <td>1 mile</td>
                            <td>
                                <%= locals.pr1 || "??" %>
                            </td>
                            <td>
                                <%= locals.pr1 || "??" %>
                            <td>
                                <%- mileToKilometer(locals.pr1) %>
                            </td>
                        </tr>
                        <tr>
                            <td>3k</td>
                            <td>
                                <%= locals.pr3k || "??" %>
                            </td>
                            <td>
                                <%- timeToMile(1.86, locals.pr3k) %>
                            <td>
                                <%- mileToKilometer(timeToMile(1.86, locals.pr3k)) %>
                            </td>
                        </tr>
                        <tr>
                            <td>2 mile</td>
                            <td>
                                <%= locals.pr2 || "??" %>
                            </td>
                            <td>
                                <%- timeToMile(2, locals.pr2) %>
                            <td>
                                <%- mileToKilometer(timeToMile(2, locals.pr2)) %>
                            </td>
                        </tr>
                        <tr>
                            <td>5k</td>
                            <td>
                                <%= locals.pr5k || "??" %>
                            </td>
                            <td>
                                <%- timeToMile(3.12, locals.pr5k) %>
                            <td>
                                <%- mileToKilometer(timeToMile(3.12, locals.pr5k)) %>
                            </td>
                        </tr>
                        <tr>
                            <td>10k</td>
                            <td>
                                <%= locals.pr10k || "??" %>
                            </td>
                            <td>
                                <%- timeToMile(6.24, locals.pr10k) %>
                            <td>
                                <%- mileToKilometer(timeToMile(6.24, locals.pr10k)) %>
                            </td>
                        </tr>
                        <tr>
                            <td>Half-Marathon</td>
                            <td>
                                <%= locals.prHalf || "??" %>
                            </td>
                            <td>
                                <%- timeToMile(13.1, locals.prHalf) %>
                            <td>
                                <%- mileToKilometer(timeToMile(13.1, locals.prHalf)) %>
                            </td>
                        </tr>
                        <tr>
                            <td>Marathon</td>
                            <td>
                                <%= locals.prMarathon || "??" %>
                            </td>
                            <td>
                                <%- timeToMile(26.2, locals.prMarathon) %>
                            <td>
                                <%- mileToKilometer(timeToMile(26.2, locals.prMarathon)) %>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div className="tips" style="padding: 2%">
            <h2>Tips for improving your pace and achieving a personal best:</h2>
            <h4>Heart Rate:</h4>
            <p>
                Although they are not necessary, heart rate monitors are a great way
                to gain extra insight on how your body is feeling during a run. Heart
                rate is also a good indicator of how hard a workout was for you and
                can help you determine whether your effort was too difficult, too
                easy, or just right. Here are some guidelines as to what to look for
                in terms of your heart rate during a run.
            </p>
            <ul>
                <li>Easy Runs: 65% - 79% Max HR</li>
                <li>Marathon / Medium Runs: 80% - 90% Max HR</li>
                <li>Threshold Runs: 88% - 92% Max HR</li>
                <li>Interval Runs: 98% - 100% Max HR</li>
                <li>
                    Repeats Runs: 100% (Generally, you are pushing your body to its
                    upper limits)
                </li>
            </ul>
            <p>
                A general rule of thumb for your Max HR is to start with 220 bpm and
                subtract your age. For example someone who is 20 years old would have
                a Max HR of 200 bpm. <strong>However</strong>, this can be sometimes unreliable so the best
                way to go is to know your max HR which you can find out by running an all
                out 2 mile. Here is the running breakdown for someone with a 220 bpm Max HR:
            </p>
            <ul>
                <li>Easy Runs: 130 - 158 BPM</li>
                <li>Marathon / Medium Runs: 160 - 180 BPM</li>
                <li>Threshold Runs: 176 - 184 BPM</li>
                <li>Interval Runs: 196 - 200 BPM</li>
                <li>Repeats Runs: 200 BPM</li>
            </ul>
            <p>
                Note: Hitting your max BPM for workouts is not necessary at all. It is
                just a separate indicator of how difficult the run was.
            </p>
        </div>
        <script>
            let value = "<%= locals.distance %>";
            if (value)
                document.getElementById("distance").value = value;
            else
                document.getElementById("distance").value = "1500m";

            window.addEventListener("beforeunload", (e) => {
                let vO2 = `<%= locals.vO2 %>`
                navigator.sendBeacon(
                    "/save-vDOT",
                    new Blob(
                        [
                            JSON.stringify({
                                vO2: vO2
                            }),
                        ],
                        { type: "application/json" }
                    )
                );
            });
        </script>