<div id="navContainer">
    <nav>
        <a id="logo" href="/">
            Pace Partner
        </a>
    </nav>
</div>
<div id="mainContainer">
    <div id="container">
        <h1>Register</h1>
        <% if(JSON.stringify(messages) !=="{}" && messages !=="" ) { %>
            <div id="alert">
                <%= locals.messages %>
                    <button type="button" id="close">
                        <span>&times;</span>
                    </button>
                    <script>
                        document.getElementById('close').addEventListener("click", () =>
                            document.getElementById('alert').remove()
                        );
                    </script>
            </div>
            <% } %>
                <form id="signing-up" action="/register" method="post">
                    <label>
                        <input type="text" name="username" placeholder="Username" value=<%=locals.username%>>
                    </label>
                    <label>
                        <input type="email" name="email" placeholder="Email" value=<%=locals.email%>>
                    </label>
                    <label>
                        <input type="password" name="password" id="password" placeholder="Password"
                            value=<%=locals.password%>>
                    </label>
                    <label>
                        <input type="password" name="confirmPassword" id="confirmPassword"
                            placeholder="Confirm Password" value=<%=locals.confirm%>>
                    </label>
                    <button id="submit" type="submit">Submit</button>
                </form>
    </div>
</div>