<%- include("partials/navNonUser") %>
    <div id="mainContainer">
        <div id="formContainer">
            <h1>Register</h1>
            <%- include("partials/errorMsg") %>
                <form id="signing-up" action="/register" method="post">
                    <label>
                        <input type="text" name="username" placeholder="Username" value=<%=locals.username%>>
                    </label>
                    <label>
                        <input type="email" name="email" placeholder="Email" value=<%=locals.email%>>
                    </label>
                    <label>
                        <input type="password" name="password" id="password" placeholder="Password"
                            value=<%=locals.password%>>
                    </label>
                    <label>
                        <input type="password" name="confirmPassword" id="confirmPassword"
                            placeholder="Confirm Password" value=<%=locals.confirm%>>
                    </label>
                    <button id="submit" type="submit">Submit</button>
                </form>
        </div>
    </div>
    <footer style="text-align: center;">Note: This is a personal project so please do not use any personal password
        information for registration. I
        did encrypt these passwords, but you never know. Thanks!</footer>